.nav{
    margin: 0;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav h1{
    margin: 0;
    padding: 20px;
}
.cart-icon .cart{
    font-size: 45px;
}
.cart-icon{
    margin-right: 30px;
    display: flex;
}
.cart-icon p{
    margin: 0;
    /* background-color: red; */
    border-radius: 50%;
    font-size: 20px;
}